@tailwind base;
@tailwind components;
@tailwind utilities;

.black-grad {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8743872549019608) 51%,
    rgba(255, 255, 255, 0) 100%
  );
}
.orange-grad {
  background: rgb(252, 89, 20);
  background: linear-gradient(
    90deg,
    rgba(252, 89, 20, 1) 0%,
    rgba(251, 31, 9, 1) 97%
  );
}

.hideScroll {
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #2e2e2e;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(22, 22, 22);
}

/* Handle on hover */
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

.react-images__view img {
  margin: auto;
}
